.button {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font:inherit;
    border: none;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    color:white;
    background-color: #4d1601;
    gap: 0.5rem;
    
}

.button:hover,
.button:active {
    background-color: #2c0d00;
}

.icon {
    width: 24px;
    height: 24px;
}


.badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
  
}

.bump {
    animation: bump 300ms ease-out;
}